@using StateMvc.Models
@model UpdateVM

@{
    ViewBag.Title = "Update";
}

<div style="display: flex; max-width: 1000px; margin: 50px" id="UpdateView">

<h1>Update Settings</h1>
<form asp-controller="Settings" asp-action="Update" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    
    <label asp-for="CompanyName"></label>
    <input asp-for="CompanyName"/>
    <span asp-validation-for="CompanyName"></span>

    <button type="submit">Save</button> 
</form>